@{
    ViewData["Title"] = "Drawing";
}

<h2 style="background-color: yellow; color: blue; text-align: center; font-style: oblique">
    My first Google Map API integration project with ASP.NET Core
</h2>

<h5 style="text-align: center;">Click on two or more points on the map to draw !</h5>

<div id="map" style="height:600px;width:100%"></div>

<button onclick="removeMarkers()">Delete Markers</button>
<button onclick="removePolyline()">Delete Polylines</button>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMYzsd2xLdFTICmUyjE71zrjW89Y5EOSU"></script>

    <script>
        let map;
        let markers = [];
        let polyline;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 4.6125522, lng: 13.1535811 },
                zoom: 8,
                scrollwheel: true,
                draggable: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            map.addListener("click", (event) => {
                addMarker(event.latLng);
                updatePolyline();
            });

        }

        function addMarker(latLng) {
            const marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: "Marker " + (markers.length + 1).toString()
            });

            markers.push(marker);
        }

        function removeMarkers() {
            markers.forEach(marker => {
                marker.setMap(null);
            });

            markers = [];
        }

        function removePolyline() {
            if (polyline) {
                polyline.setMap(null);
                polyline = null;
            }
        }

        function updatePolyline() {
            if (polyline) {
                polyline.setMap(null);
            }

            const path = markers.map(marker => marker.getPosition());

            polyline = new google.maps.Polyline({
                path: path,
                strokeColor: "#000000",
                strokeOpacity: 1.0,
                strokeWeight: 3,
                map: map
            });
        }

        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}

<footer>
    <p style="background-color: yellow; font-weight: bold; color: blue; text-align: center; font-style: oblique">
        &copy; @DateTime.Now.ToLocalTime()
    </p>
</footer>